<div>
  
  <h2>What's the Angle?</h2>

  <div>
  <label>Enter time:</label>
    <input type="text" name="time" placeholder="12:15">
  </div>

  <button>Submit</button>

  <div>
    <h3>Angle difference between the hour and minute hand is:</h3>

    <p>answer </p>
  </div>
</div>

